* {
    margin: 0;
    /* border: 1px red solid; */
    box-sizing: border-box;
}

body {
    background-image: url('https://images.unsplash.com/photo-1465146344425-f00d5f5c8f07?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1776&q=80');
    background-size: 100% auto;
}

h1 {
    text-align: center;
    margin: 15px;
    font-size: 2.5rem;
}

.body-content {
    display: flex;
    justify-content: center;
}

.button-container {
    width: 18vw;
    height: 522px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle-button {
    display: flex;
    justify-content: center;
}

#color-picker {
    /* border-radius: 50%; */
    width: 100px;
    height: 100px;
    padding: 0;
}

#grid-size {
    width: 175px;
}

button {
    margin: 20px;
    width: 175px;
}

button:hover {
    scale: 1.1;
}

.slider {
    width: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxes-container {
    display: flex;
}

.boxes {
    display: grid;
    border: 0.5px black solid;
    width: 481px;
    height: 481px;
    margin: 20px;
}

.box {
    border: 0.5px black solid;
    background-color: #fff;
}

.box:hover {
    background-color: #000;
}

.clicked {
    background-color: rgb(0,0,0);
    color: rgba(255, 255, 255, 0.925);
}